<div class="form-shipping">
  <div class="form-body">
    <div class="control">
      <label for="name">Name</label>
      <input type="text" id="name" placeholder="your name"/>
    </div>
    <div class="control">
      <label for="address">Address</label>
      <textarea name="address" id="address" placeholder="enter your address"></textarea>
    </div>
    <div class="control">
      <label for="phone">Phone</label>
      <input type="number" id="phone" placeholder="your phone number"/>
    </div>
    <div class="submit">
      <button (click)="changeState('payment')">Next</button>
    </div>
  </div>
</div>
