.products-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
  justify-content: center;
  align-items: center;
  .products {
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    app-product {
      width: calc(100% / 4 - 20px);
      margin: 10px;
    }
  }
}
