<div class="form-shipping">
  <div class="form-body">
    <div class="control">
      <label for="card-name">Card Name</label>
      <input type="text" name="card-name" placeholder="the name on your card"/>
    </div>
    <div class="control">
      <label for="card-number">Card Number</label>
      <input name="address" name="card-number" placeholder="your card number">
    </div>
    <div class="grid">
      <div class="control">
        <label for="card-exp">Expiration</label>
        <input type="text" id="card-ext" placeholder="expiration date"/>
      </div>
      <div class="control">
        <label for="card-cvc">CVC</label>
        <input type="text" id="card-cvc" placeholder="the cvc on your card"/>
      </div>
    </div>

    <div class="submit">
      <button>Pay</button>
    </div>
  </div>
</div>
